DATASET: https://www.kaggle.com/datasets/ayessa/salary-prediction-classification

# BUSSINESS UNDERSTANDING

Ekstraksi dilakukan oleh Barry Becker dari basis data Sensus 1994.
Prediksi ini dilakukan untuk menentukan apakah seseorang berpenghasilan lebih dari 50 ribu per tahun si United States berdasarkan inputan yang akan dijelaskan dibawah guna mengklasifikasi apakah seseorang tersebut memiliki penghasilan dibawah atau diatas $50.000 per tahun dengan beberapa inputan yang akan dijelaskan dibawah.

Model ini pun dapat membantu pemerintah maupun elemen lainnya dalam penentuan pembagian bantuan dari negara maupun perusahaan berdasarkan pendapatan pertahunnya agar bantuan yang di distribusikan dapat tepat sasaran sesuai dengan prioritas kebutuhan dari pendapatan pertahunnya.

Model ini dibuat menggunakan metode klasifikasi dengan algoritma Regresi Linear.

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_excel('gaji.xlsx')

# DATA UNDERSTANDING

Age = Umur karyawan

workclass = kelas pekerja

marital-status = status perkawinan

relationship = status karyawan

sex = jenis kelamin

catital-gain = peningkatan nilai aset investasi

capital-loss = penurunan nilai aset investasi

native-country = Negara asal

salary = pendapatan karyawan selama satu tahun

In [3]:
df.head()

,age,workclass,education,marital-status,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,Bachelors,Never-married,Not-in-family,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Husband,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Not-in-family,Male,0,0,40,United-States,<=50K
3,37,Private,Masters,Married-civ-spouse,Wife,Female,0,0,40,United-States,<=50K
4,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Husband,Male,0,0,45,United-States,>50K

# DATA PREPROSESSING

In [4]:
df.columns

Index(['age', 'workclass', 'education', 'marital-status', 'relationship',
       'sex', 'capital-gain', 'capital-loss', 'hours-per-week',
       'native-country', 'salary'],
      dtype='object')

In [5]:
df['salary'] = df['salary'].replace([' <=50K', ' >50K'], [0, 1])
df['workclass'] = df['workclass'].replace([' Private', ' Self-emp-not-inc',
                                                               ' Local-gov', ' State-gov', ' Self-emp-inc',
                                                               ' Federal-gov', ' Without-pay', ' Never-worked'],
                                                              [0, 1, 2, 3, 4, 5, 6, 7])
df['education'] = df['education'].replace([' HS-grad', ' Some-college', ' Bachelors',
                                                               ' Masters', ' Assoc-voc', ' Assoc-acdm',
                                                               ' Prof-school', ' Doctorate', ' Preschool'],
                                                              [0, 1, 2, 3, 4, 5, 6, 7, 8])
df['marital-status'] = df['marital-status'].replace([' Married-civ-spouse', ' Never-married',
                                                                        ' Divorced', ' Separated', ' Widowed'],
                                                                       [0, 1, 2, 3, 4])
df['relationship'] = df['relationship'].replace([' Husband', ' Not-in-family', ' Own-child',
                                                                    ' Unmarried', ' Wife'], [0, 1, 2, 3, 4])
df['sex'] = df['sex'].replace([' Female', ' Male'],[0,1])

In [6]:
df = df.drop('native-country', axis=1)

In [7]:
df.head()

,age,workclass,education,marital-status,relationship,sex,capital-gain,capital-loss,hours-per-week,salary
0,39,3,2,1,1,1,2174,0,40,0
1,50,1,2,0,0,1,0,0,13,0
2,38,0,0,2,1,1,0,0,40,0
3,37,0,3,0,4,0,0,0,40,0
4,52,1,0,0,0,1,0,0,45,1

# MODELLING

In [8]:
X = df.drop(columns='salary', axis=1)
Y = df['salary']

In [9]:
print(X)

     age  workclass  education  marital-status  relationship  sex  \
0     39          3          2               1             1    1
1     50          1          2               0             0    1
2     38          0          0               2             1    1
3     37          0          3               0             4    0
4     52          1          0               0             0    1
..   ...        ...        ...             ...           ...  ...
995   51          0          0               2             3    0
996   24          0          0               1             2    0
997   35          0          7               0             0    1
998   41          3          2               0             0    1
999   48          0          2               0             0    1

     capital-gain  capital-loss  hours-per-week
0            2174             0              40
1               0             0              13
2               0             0              40
3               0             0              40
4               0             0              45
..            ...           ...             ...
995             0             0              40
996             0             0              40
997          7298             0              40
998             0             0              40
999             0             0              45

[1000 rows x 9 columns]

In [10]:
print(Y)

0      0
1      0
2      0
3      0
4      1
      ..
995    0
996    0
997    1
998    1
999    1
Name: salary, Length: 1000, dtype: int64

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.4, stratify=Y, random_state=2)

In [12]:
print(X.shape, X_train.shape, X_test.shape)

(1000, 9) (600, 9) (400, 9)

In [13]:
model = LogisticRegression()

In [14]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [15]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [16]:
print("Akurasi data training : ", training_data_accuracy)

Akurasi data training :  0.8283333333333334

In [17]:
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [18]:
print("Akurasi data testing : ", testing_data_accuracy)

Akurasi data testing :  0.7925

In [19]:
df.columns

Index(['age', 'workclass', 'education', 'marital-status', 'relationship',
       'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'salary'],
      dtype='object')

# EVALUATION

In [20]:
input_data = (31,0,3,1,1,0,14084,0,50) # 1

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if prediction == 0:
    print('Total pendapatan pertahun <=50K US Dollar')
else:
    print('Total pendapatan pertahun >50K US Dollar')

[1]
Total pendapatan pertahun >50K US Dollar

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

# DEPLOYMENT

In [21]:
import pickle

In [22]:
filename = 'gaji_model_regression.sav'
pickle.dump(model, open(filename, 'wb'))